body{
    background-color: black;
}

h1{
    color: aliceblue;
    text-align: center;
    margin-top: 200px;
    font-size: 100px;
}

p{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}

#button-start, #button-reset, #button-stop {
    background-color: #ffffff; 
    border: none;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
#button-start{
    margin-left: 440px;
}

#button-reset{
    margin-left: 10px;
    margin-right: 10px;
}

#btn :hover {
    background-color: black;
    color: white;
  }